body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.alunos-lista {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}

.alunos-lista li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.aluno-nome {
    font-weight: bold;
}

.aluno-idade {
    color: #888;
}

.aluno-curso {
    font-style: italic;
}
.b4{background-color: orange;
    text-decoration-color: #f0f0f0;}